@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/roboto/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    height: auto;
    padding: 1em 0;
  }
}

@media only screen and (min-width: 1600px) {
  /* For tablets and larger screens: */
  body {
    display: flex;
    justify-content: center;
    background-image: url("/backgrounds/appBack.jpg");
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10em;
    padding-bottom: 20px;
  }

  .heart {
    width: 15px;
    vertical-align: middle;
  }

  footer {
    display: flex !important;
    justify-content: center;
    padding-top: 5em;
  }
}

:root {
  /* ✓ COLORS */
  --color-main: rgb(248, 105, 0);
  --color-light-bkg: rgb(253, 250, 237);
  --color-black: #272727;
  --color-white: #ffffff;

  color-scheme: only light; /* only light onemogućuje dark mode by OS */
  font-family: "Roboto", "DejaVu Sans", sans-serif; /* fallback za IAST transliteraciju */
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ✓ Avoid Content Selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

a {
  -webkit-touch-callout: none;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari i Edge */
}

body {
  font-size: 1em/1.618;
  color: var(--color-black);
  background-color: var(--color-light-bkg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

footer {
  display: none;
}

hr {
  margin: 0;
  border: none;
  border-top: 2px solid rgb(255, 255, 255);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h3 {
  margin: 0;
  font-weight: 700;
  font-style: bold;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-style: bold;
  color: var(--color-black);
}

small {
  margin: 0;
  font-weight: 500;
  font-size: 0.7rem;
  color: var(--color-black);
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

blockquote {
  margin: 0;
  color: var(--color-black);
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  margin-top: 0.5em;
  font-weight: 700;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* swara day list hide */
li {
  display: none;
}

li:nth-child(-n + 1) {
  display: list-item;
}

/* Tablica sa zaobljenim kutovima samo na gornjim i donjim rubovima */
table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 25px;
  overflow: hidden;
}

tr {
  background-color: rgba(245, 229, 193, 0.5);
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  text-align: center;
  height: 30px;
}

tr:first-child th,
tr:first-child td {
  padding-top: 3px;
}

tr:last-child th,
tr:last-child td {
  padding-bottom: 3px;
}

/* Stil za boje ćelija */
.povoljno {
  background-color: rgba(137, 174, 82, 0.1);
}

.nepovoljno {
  background-color: rgba(253, 81, 33, 0.1);
}

.aktivni {
  font-weight: 500;
}

.card {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: clamp(320px, 360px, 380px); /* treba dinamički preko utopije  riješiti */
  border: 1px solid var(--color-white);
  border-radius: 24px;
  background-color: var(--color-white);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
}

.location {
  margin: 0;
}

.card.dayCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/daycard.png");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(200deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 100%);
}

.dailyInspirationCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/bkg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 250%;
  border-radius: 8px;
  opacity: 1;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(30deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%);
}

.card.swarCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/swarcard2.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  opacity: 1;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
}

.card.fastingCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/bkg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 200%;
  border-radius: 8px;
  opacity: 1;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
}

.card.festivalCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/festivalcard2a.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
}

.card.choghadiyaCard::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("/backgrounds/choghadiyacard.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(200deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.choghadiyaTableHeader {
  background-color: #e1f0f9;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: #272727;
}

.aktivniInfo {
  position: absolute;
  top: 34px;
  right: 15px;
  width: auto;
  padding: 1px 8px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 10px;
}

.topBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  text-align: left;
}

.container {
  padding-top: 5px;
  padding-left: 24px;
  padding-bottom: 16px;
  padding-right: 24px;
  transition: max-height 0.3s ease-out;
}

.container.visible {
  visibility: visible;
}

.container.hidden {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.bird {
  position: absolute;
  top: 15px;
  left: 120px;
  width: 6.3em;
  height: 7em;
  background-image: url("/backgrounds/bird.gif");
  background-size: 100% 100%;
  z-index: 2;
  animation: birdFly 17s cubic-bezier(0.99, 0, 1, 1) infinite;
  pointer-events: none;
}

@keyframes birdFly {
  0% {
    opacity: 0;
    transform: scale(0) translateX(0) translateY(0);
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(100vw) translateY(-50px);
  }
}

.quoteContainer {
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  will-change: opacity;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.quoteMark {
  font-weight: 700;
  font-style: bold;
  font-size: 1.2rem;
}

.swaraContainer {
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.muhurtaContainer {
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 1.5em;
}

.panchangContainer {
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  will-change: opacity;
  border-radius: 25px;
  padding: 1em;
}

.panchangChart {
  position: absolute;
  top: 108px;
  right: 8px;
  transform: scale(0.6);
  border-radius: 100px;
  border: 0px solid rgba(255, 255, 255, 1);
}

.moonPhase {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.moonPhase > :first-child {
  flex: 0 0 20%;
}

.moonPhase > :last-child {
  flex: 0 0 auto;
}

.calendarContainer {
  margin-top: 15px;
  padding: 1em;
}

.fastingContainer {
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  will-change: opacity;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.festivalButton {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background: rgba(195, 226, 246, 0.5);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 8px;
}

.iconMap {
  height: 40px;
  margin-bottom: 15px;
}

@keyframes rotateAndPulse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.iconSun {
  height: 80px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: default;
  animation: rotateAndPulse 27s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.gurudevIcon {
  height: 225px;
  position: absolute;
  top: 27px;
  right: -5px;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0 0 0 white) drop-shadow(0 0 8px rgb(253, 250, 237));
}

.iconSwar {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 50px;
  padding: 0.8em;
  height: 70px;
  position: absolute;
  top: 50px;
  right: 30px;
  filter: drop-shadow(0 0 0 white) drop-shadow(0 0 8px rgb(253, 250, 237));
  z-index: 1;
  pointer-events: none;
}

.iconFood {
  height: 80px;
  position: absolute;
  top: 30px;
  right: 25px;
  pointer-events: none;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 0.3em #a5a5a5);
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

.iconMoon {
  height: 60px;
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  filter: drop-shadow(0 0 0.8em hsla(0, 0%, 0%, 0.5));
  z-index: -1;
}

.iconFestival2 {
  height: 100px;
  position: absolute;
  top: 120px;
  right: 50px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

.iconChogadiya {
  height: 60px;
  position: absolute;
  top: 25px;
  right: 25px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 0.3em #a5a5a5);
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}
