:root {
  /* ✓ COLORS */
  --color-main: rgb(248, 105, 0);
  --color-light-bkg: rgb(253, 250, 237);
  --color-black: #272727;
  --color-white: #ffffff;

  color-scheme: only light; /* only light onemogućuje dark mode by OS */

  /* ✓ Use System Font Stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ✓ Avoid Content Selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

a {
  -webkit-touch-callout: none;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari i Edge */
}

body {
  font-size: 1em/1.618;
  color: var(--color-black);
  background-color: var(--color-light-bkg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  display: none;
}

li:nth-child(-n + 1) {
  display: list-item;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 1em var(--color-white));
  filter: drop-shadow(0 0 1em var(--color-white));
  display: none;
}

.iconMap {
  height: 60px;
  margin-bottom: 8px;
}

.iconSun {
  height: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
  /*   filter: drop-shadow(0 0 0 white) drop-shadow(0 0 5px rgb(252, 212, 64));
 */
}

.iconSwar {
  height: 60px;
  position: absolute;
  top: 20px;
  right: 30px;
  pointer-events: none;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 1px #fff);
  filter: drop-shadow(0 0 1px white);
  filter: drop-shadow(0 0 0 white) drop-shadow(0 0 5px rgb(255, 255, 255));
}

.iconFood {
  height: 80px;
  position: absolute;
  top: 25px;
  right: 25px;
  pointer-events: none;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 0.3em #a5a5a5);
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

.iconFestival {
  height: 50px;
  position: absolute;
  top: -10px;
  right: -5px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

.iconFestival2 {
  height: 80px;
  position: absolute;
  top: 90px;
  right: 50px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

.iconChogadiya {
  height: 60px;
  position: absolute;
  top: 25px;
  right: 25px;
  pointer-events: none;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  -webkit-filter: drop-shadow(0 0 0.3em #a5a5a5);
  filter: drop-shadow(0 0 0.3em #a5a5a5);
  z-index: -1;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

.location {
  padding-bottom: 35px;
}

.naslovLokacije {
  font-size: 0.8em;
  font-weight: 500;
  color: #484848;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: clamp(320px, 360px, 380px); /* treba dinamički preko utopije  riješiti */
  height: auto;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  background-color: var(--color-white);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: var(--card-bg, none);
  background-position: var(--card-bg-position, none);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(200deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: 50px;
  /* background: linear-gradient(to right, var(--color-main), rgb(165, 72, 0)); */
  border-radius: 12px 12px 0 0;
  text-align: left;
  cursor: pointer;
}

/* .topBar small::after {
  content: "\10C40";
  display: inline-block;
  transform: rotate(180deg);
  margin-left: 8px;
  font-size: 0.7em;
  vertical-align: top;
} */

.container {
  padding: 25px;
  padding-top: 0;
  transition: max-height 0.3s ease-out;
}

.container.visible {
  visibility: visible;
}

.container.hidden {
  padding-top: 5px;
  height: 0;
  /* visibility: hidden; */
  display: none;
}

small {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-black);
  -webkit-margin-start: 25px;
  margin-inline-start: 25px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(248, 103, 0, 0.1)), color-stop(#f86900), to(rgba(248, 103, 0, 0.1)));
  background-image: -o-linear-gradient(left, rgba(248, 103, 0, 0.1), #f86900, rgba(248, 103, 0, 0.1));
  background-image: linear-gradient(to right, rgba(248, 103, 0, 0.1), #f86900, rgba(248, 103, 0, 0.1));
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    height: auto;
  }

  .logo {
    margin-top: 2em;
  }
}

/* #loaderSadhana {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  margin-inline-start: 20px;
  text-wrap: wrap;
}

.loader {
  display: flex;
  place-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: rgb(255, 232, 124);
  border-radius: 30px;
  border: 2px solid rgb(255, 249, 229);
  backdrop-filter: blur(15px);
  box-shadow: -1px -1px 2px 0 rgba(248, 103, 0, 0.5);
}

.item {
  position: absolute;
  z-index: 1;
  overflow: visible;
  stroke: rgb(248, 105, 0);
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}
 */

/* Tablica sa zaobljenim kutovima samo na gornjim i donjim rubovima */
table {
  border-collapse: separate;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}

tr {
  background-color: #f4eed9;
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  text-align: center;
  height: 30px;
}

/* Zaobljeni kutovi na gornjim ćelijama */
thead th:first-child {
  border-top-left-radius: 15px;
}

thead th:last-child {
  border-top-right-radius: 15px;
}

/* Zaobljeni kutovi na donjim ćelijama */
tfoot td:first-child {
  border-bottom-left-radius: 15px;
}

tfoot td:last-child {
  border-bottom-right-radius: 15px;
}

/* Stil za boje ćelija */
.povoljno {
  background-color: #e7f1e8;
}

.nepovoljno {
  background-color: rgb(255, 232, 229);
}

.aktivni {
  font-weight: bold;
}

/* Tamna tema */
.dark-mode th {
  background-color: #333;
}

.dark-mode .povoljno {
  background-color: #305d3c;
}

.dark-mode .nepovoljno {
  background-color: #7d2b2b;
}

.dark-mode .aktivni {
  background-color: #8a7300 !important;
  border-color: #fff;
}
