:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #ffe87c;
  --color-primary-200: #ffea8b;
  --color-primary-300: #ffed9a;
  --color-primary-400: #ffefa9;
  --color-primary-500: #fff2b7;
  --color-primary-600: #fff5c6;

  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;

  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #26241c;
  --color-surface-mixed-200: #3a3831;
  --color-surface-mixed-300: #504e47;
  --color-surface-mixed-400: #67655f;
  --color-surface-mixed-500: #7e7d77;
  --color-surface-mixed-600: #979591;

  /* only light onemogućuje dark mode by OS */
  color-scheme: only light;

  /* ✓ Use System Font Stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ✓ Avoid Content Selection */
  user-select: none;
  -webkit-user-select: none;
}

a {
  -webkit-touch-callout: none;
}

body {
  font-size: 1em/1.618;
  color: var(--color-surface-300);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 380px;
  height: 100vh;
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  display: none;
}

li:nth-child(-n + 1) {
  display: list-item;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 3em #ffffff);
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

.location {
  padding-bottom: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 1px solid hsla(47, 100%, 95%, 1);
  border-radius: 12px;
  background-color: hsla(47, 100%, 95%, 1);
  backdrop-filter: blur(15px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.topBar {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  background-color: #f86900;
  border-radius: 12px 12px 0 0;
  text-align: left;
}

.container {
  padding: 25px;
}

small {
  font-size: 0.7em;
  font-weight: 700;
  color: #ffffff;
  margin-inline-start: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(248, 103, 0, 0.1), #f86900, rgba(248, 103, 0, 0.1));
}

#loaderSadhana {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  margin-inline-start: 20px;
  text-wrap: wrap;
}

.loader {
  display: flex;
  place-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: rgb(255, 232, 124);
  border-radius: 30px;
  border: 2px solid rgb(255, 249, 229);
  backdrop-filter: blur(15px);
  box-shadow: -1px -1px 2px 0 rgba(248, 103, 0, 0.5);
}

.item {
  position: absolute;
  z-index: 1;
  overflow: visible;
  stroke: rgb(248, 105, 0);
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}
